spring:
  datasource:
    url: jdbc:mysql://localhost:3306/financial_app?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    com.financialapp: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
